/* styles.css */
.container {
  width: 200px;
  background-color: purple;
}

.left {
  border-color: green;
  border-width: 0px 0px 0px 5px ;
  border-style: solid;
  padding: 10px;
}

.text {
  font-size: 20px;
}

.heading {
  color: white;
}
